@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(250, 235, 180, 0.5);
  font-family: "Nunito", sans-serif;
}
